.Header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px ;
  background-color: transparent;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.575);

  &> img {
    height: 100%;
  }
}