.ListCreator {
  position: fixed;
  top: 30%;
  left: 40%;
  width:20%;
  min-width: 300px;
  z-index: 200;
  background-color: #fff;
  border: 3px solid rgb(71, 71, 71);
  text-align: center;
  padding: 20px;

  & > input[type=text] {
    display: block;
    margin: 10px auto;
    height: 30px;
    padding: 0 5px;
  }
}

@keyframes enter {
  from { transform: translateY(-100vh) }
  to { transform: translateY(0) }
}