

.btnDelete {
  font-size: 20px;
  outline: none;
  border: none;
  float: left;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  padding: 5px 10px;
  border-bottom-right-radius: 20px;
  background-color: salmon;
  cursor: pointer;
  transition: all 200ms;

  box-shadow: 1px 1px 2px rgba(131, 131, 131, 0.726);


  &:hover {
    background-color: rgb(255, 68, 47);
  }
  &::after {
    content:'';
    display:block;
    clear:both;
  }
}

.btnOpen {
  font-size: 150%;
  padding: 10px;
  outline: none;
  border: none;
  cursor:  pointer;
  width: 50%;
  border: 2px solid #aaa;
  transition: all 200ms;

  &:hover{
    background-color: rgb(126, 219, 126);
  }
}

.btnNewList {
  font-size: 150%;
  padding: 10px;
  outline: none;
  border: none;
  cursor:  pointer;
  width: 50%;
  border: 2px solid #aaa;
  transition: all 200ms;
  color: rgb(97, 97, 97);

  &:hover{
    background-color: rgba(126, 219, 126, 0.781);
  }
}

.btnCreateList {
  font-size: 100%;
  padding: 10px;
  outline: none;
  border: none;
  cursor:  pointer;
  width: 30%;
  min-width: 90px;
  border: 2px solid #aaa;
  transition: all 200ms;

  &:hover{
    background-color: rgb(126, 219, 126);
  }
}
