.Lists {
  padding: 0 5%;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;  
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../../assets/images/listsBG.jpg');
  // background: linear-gradient(90deg,rgb(58, 81, 100),#D2CCC4 ,#D2CCC4,#2F4353);
  background-size: cover;
}