@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
.List {
  background-image: url('../../../assets/images/Note/note.png');
  background-repeat: repeat-y;
  height: 320px;
  width: 300px;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  margin: 15px;

  & > h2{
    font-size: 2rem;
    font-family: 'Mansalva', 'cursive';
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    padding: 5px;
  }

  // & > p {
  //   margin: 10px 0 20px 0;
  // }
}

.DeleteListButton {
  padding: 10px;
  cursor: pointer;
}

.Button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 3rem;
  color: #444;
  font-family: 'Permanent Marker', cursive;
  transition: color 200ms;
  &:hover{
    color: rgb(0, 0, 0);
  }
}