.ListTitle {
  padding-top: 60px;
  text-align: center;
  font-size: 200%;
}

.FullList {
  display: flex;
  padding: 15px;
  justify-content: space-evenly;
}

.ListState {
  border: 2px solid #ccc;
  height: 100vh;
  overflow-y: auto;
  width: 30%;
}