@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

.ListTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-top: 65px;
  text-align: center;
  font-size: 225%;
  border-bottom: 2px solid #004757;
  text-transform: capitalize;
}

.FullList {
  margin-top: 18px;
  display: flex;
  padding: 15px;
  justify-content: space-around;
}

.ListState {
  border: 2px solid #ccc;
  height: 100vh;
  overflow-y: auto;
  width: 30%;
}

.FullListContainer {
  height: 100vh;
  background-color:  #96CCB9
}