.List {
  min-height: 200px;
  width:  19%;
  min-width: 200px;
  margin: 0 0.5%;
  margin-bottom: 0.5%;
  background-color: #ddd;
  border-radius: 20px;
  border: 2px solid #aaa;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(70, 70, 70);


  & > h2{
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    padding: 5px;
  }

  & > p {
    margin: 10px 0 20px 0;
  }
}


.d {
  color: rgb(255, 77, 77);
}