.Container {
  display: flex;
  justify-content: center;
  min-height: 937px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../assets/images/loginBG.jpg');
  background-attachment: fixed;
  background-size: cover;
}


.Form {
  text-align: center;
  min-width: 350px;
  background-color: #fff;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 10px;
  padding: 20px;
  margin-top: 10%;
  box-shadow: 5px 5px 10px #aaa;
  & > div{
    margin: 0.5em 0;
    font-size: 30px;
    text-align: center;
  }
  & > form{
    label,
    input {
      padding: 5px;
      margin: 0 auto;
      display: block;
    }

    label {
      text-align: left;
      padding: 5px 0;
      padding-left: 22.2%;
    }

    input {
      margin-bottom: 20px;
    }
    button {
      outline: none;
      cursor: pointer;
      border: 1px solid #565656;
      margin: 10px;
      padding: 5px 10px;
      transition: background-color 200ms;
      &:hover {
        background-color: rgb(133, 238, 238);
      }
    }
  }
  & > p{
    background-color: transparent;
  }

  & > p > span {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: purple;
  }}
}


.Error {
  // input {
  //   // position: relative;
  //     outline: 1px solid red;

  //     &:focus {
  //       outline: none;
  //     }
  // }

  // input::after{
  //   // position: absolute;
  //   content: " - Remember this";
  //   display: block;
  //   height: 20px;
  // }
}

